*{
    margin: 0px;
    padding: 0px;
    border: 0;
    -webkit-text-size-adjust: 100%;
}
body{
    background: #2e2930;
    text-align: center;
}
header{
    position: fixed;
    width: 100%;
    background-color: #fbfaf5;
    color: #2e2930;
    text-align: left;
    z-index: 3;
}
h1{
    position: relative;
    border-right: 15px solid #2e2930; 
    font: normal 35px '游ゴシック',serif;
}
main{
    width: 100%;
    display: inline-block;
    text-align: left;
}
h2{
    box-sizing: border-box;
    position: relative;
    /* width: 100%; */
    margin: 10px 0;
    border-right: 15px solid #fbfaf5;
    font: normal 30px "游ゴシック",serif;
    background-color: #e6b422;
    color: white;
}
h1>a{
    position: absolute;
    right: 0;
    bottom: 0;
    font: normal 25px "游ゴシック",serif;
}
a:visited{
    color: #e4007f;
}
input[type=text]:read-only{
    outline: none;
}
input[type=text]:read-write:focus{
    outline: 1px auto #e4007f;
}
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    box-sizing: border-box;
    cursor: pointer;
}