
@import url("H_header.css");
@import url("H_mainCommon.css");
main{
    min-width: 840px;
}
.contents{
    min-width: 840px;
}
#con{
    margin: 10px;
}
.mcards{
    margin: 0;
    width: auto;
    flex: 0 0 auto;
    background: #f3f3f3;
    border: 2px solid #ffffff; 
    
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
input{
	height: 1.5em;
    width: 100px;
}
p{
	line-height: 1em;
}
table{
	margin-top: 5px;
	width: 405px;
}
th{
	width: 32px;
	font-weight: normal;
	background: rgba(97,83,78, 0.6);
}
td{
	width: 121px;
	background: rgba(97,83,78, 0.6);
}
.Bimg{
    position: relative;
    height: 40px;
}
.effect{
    height: 70px;
    vertical-align: top;
}
#Btns{
    position: fixed;
    width: 80%;
    min-width: 800px;
    height: 30px;
}
h3{
    width: 250px;
    height: 30px;
    position: absolute;
    background: #d8e697;
    border: 2px solid #e6b422; 
}
.file{
    width: 100%;
    display: flex;
}
.no{
    margin: auto 45px 20px auto;
    display: block;
}
.no input{
    width: 40px;
}