
@import url("H_header.css");
@import url("H_mainCommon.css");

h3{
    width: 80%;
    height: 30px;
    position: relative;
    background: #d8e697;
    border: 5px double #e6b422; 
    border-bottom: 2px solid #e6b422;
}
.block{
    width: 80%;
    margin: 0;
    min-height: 150px;
    position: relative;
    background:linear-gradient(to right, #e65322 0%, #e65322 25%, #fbfaf5 25%, #fbfaf5 100%);
    border: 5px double #e6b422; 
    border-top: 0px;
}
.left{
    position: absolute;
    top: 0;
    padding: 10px 0;
}
.right{
    position: absolute;
    top: 0;
    left: 25%;
    padding: 10px 0;
}
input{
    border: 2px solid #e6b422; 
}
button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #26a69b;/*背景色*/
    color: #FFF;/*文字色*/
    font-size: 1em;/*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;/*字間*/
    padding: 5px 10px;/*ボタン内の余白*/
    border-radius: 3px;/*角の丸み*/
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;/*変化を緩やかに*/
}